/* Global styling */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  /* min-height: 100vh; */
  /* background: linear-gradient(135deg, #cce7ff, #b3d9ff); */
  background: linear-gradient(to right, #8589FF, #E8E9FF);
}

/* Weather container styling */
.weather-container {
  /* border-radius: 15px; */
  width: 100%;
  height: auto;

  /* background: linear-gradient(to right, #8589FF, #E8E9FF); */
  margin-top: 100px;
}

.weather-info {
  /* margin: 60px;
  margin-bottom: 24px; */
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Temperature styling */
.temperature {
  font-size: 50px;
  font-weight: bold;
  color: white;
  align-items: flex-start;
}

/* Location and Time */
.location,
.location-time {
  color: white;
}

/* Weather status */
.weather-status-container {
  /* margin: 0 0 0 60px; */
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.weather-status {
  font-size: 18px;
  color: white;
  margin: 20px 0;
}

.weather-icon img {
  width: 60px;
  height: 60px;
  margin: 0;
}

/* Sunrise and Sunset styling */
.sunrise-sunset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 40px;
  font-size: 16px;
  color: white;
}


/* Button container for upcoming days dropdown */
.button-container {
  margin-top: 20px;
  padding-right: 24px;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  background-color: transparent;
  position: relative;
}

/* Extended info button styling */
.extendedinfo-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  position: relative;
  z-index: 10;
  margin-bottom: -24px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  ;
}

/* Extended info button image styling */
.extendedinfo-button img {
  background-color: transparent;
  width: 60px;
  height: 60px;
  transition: transform 0.3s;
  mix-blend-mode: multiply;
}

.extendedinfo-button.rotate img {
  transform: rotate(90deg);
}

/* Forecast*/
.forecast-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  margin-top: 24px;
  padding: 0 24px;
  background: white;
  width: 100%;
  clip-path: ellipse(100% 100% at bottom);


}

.forecast-container.show {
  max-height: 100%;
  margin-top: 24px;
  padding: 24px;
  background: white;
  width: 100%;
  position: relative;
  clip-path: ellipse(100% 100% at bottom);


}

/* Upcoming days section (hidden by default) */
.forecast-day {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast-day p {
  font-size: 16px;
  font-weight: 300;
  color: #707070;
  width: 70px;
  ;
}

.forecast-day img {
  width: 30px;
  height: 30px;
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.weather-container {
  animation: fadeIn 1s ease-in-out;
}

/* MEDIA QUERYS */
@media (min-width: 668px) {
  body {
    background: linear-gradient(135deg, #cce7ff, #b3d9ff);
    ;
  }

  .weather-container {
    margin: 64px;
    background: linear-gradient(to right, #8589FF, #E8E9FF);
    border-radius: 15px;
  }

  .weather-info {
    padding: 64px;
  }

  .weather-status-container {
    padding: 0 64px;
  }

  .weather-status {
    font-size: 24px;
  }

  .weather-icon img {
    width: 100px;
    height: 100px;
  }

  .sunrise-sunset {
    padding: 16px 100px;
  }

  .forecast-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    margin-top: 24px;
    padding: 0 24px;
    background: white;
    width: 100%;
    clip-path: ellipse(100% 100% at bottom);
    position: ;
    border-radius: 15px;
  }

  .forecast-container.show {
    max-height: 100%;
    margin-top: 24px;
    padding: 24px;
    background: white;
    width: 100%;

    clip-path: ellipse(100% 100% at bottom);
    position: relative;
    border-radius: 15px;
  }


}

/* @media (min-width: 1600px) {
  .weather-container {
    width: 400px;
    max-width: 400px;
  }
} */